.git
.gitignore
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
Dockerfile
README.md
tests
=======
.env
.env-prod
node_modules
vendor
.git
.gitignore
